<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My Pecunia Bank</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
        <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" Pecunia Bank", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home1", "Index", "Home1")</li>*@
@*<li>@Html.ActionLink("Home", "Index1", "Home1")</li>*@
<li>@Html.ActionLink("RegisterTables", "Index", "RegisterTables")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
@*<li>@Html.ActionLink("users", "Index", "users")</li>*@


</ul>


                <ul class="nav navbar-right" style="color:white">

                    @if (Session["Username"] != null)
                    {
                        <h4 style="color:white">Welcome: @Session["Username"]</h4>

                        @Html.ActionLink("Logout", "Login", "Login")
                    }
                    else
                    {
                        @Html.Partial("_LoginPartial")
                    }

                </ul>


            </div>
        </div>
    </div>
        <div class="container body-content"  style="background-image:url(https://www.avanade.com/~/media/images/content/background/thinking/the-everyday-bank.jpg);width:100%;height:100%" >

    <div class="container body-content" style="color:black">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pecunia Bank</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/alertify.min.js"></script>
    @RenderSection("scripts", required: false)


</div>
    </body>
        </html>

    